<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<!-- 별칭 설정 -->
	<typeAliases>
		<typeAlias type="com.mvc.jigulyeog.model.dto.UserDto" alias="UserDto"/>
		<typeAlias type="com.mvc.jigulyeog.model.dto.OrgDto" alias="OrgDto"/>
		<typeAlias type="com.mvc.jigulyeog.model.dto.ChungwonDto" alias="ChungwonDto"/>
		<typeAlias type="com.mvc.jigulyeog.model.dto.SignUpDto" alias="SignUpDto"/>
 		<typeAlias type ="com.mvc.jigulyeog.model.dto.TogetherDto" alias="TogetherDto"></typeAlias>
      	<typeAlias type ="com.mvc.jigulyeog.model.dto.TogetherApplyDto" alias="TogetherApplyDto"></typeAlias>	
		<typeAlias type="com.mvc.jigulyeog.model.dto.ProjectDto" alias="ProjectDto"/> 
		<typeAlias type="com.mvc.jigulyeog.model.dto.CheerMessageDto" alias="CheerMessageDto"/>		
		<typeAlias type="com.mvc.jigulyeog.model.dto.FundingListDto" alias="FundingListDto"/>
		<typeAlias type="com.mvc.jigulyeog.model.dto.DMListDto" alias="DMListDto"/>		
		<typeAlias type="com.mvc.jigulyeog.model.dto.DMChatDto" alias="DMChatDto"/>		
		<typeAlias type="com.mvc.jigulyeog.model.dto.CommunityGuestbookDto" alias="CommunityGuestbookDto"/>		
		<typeAlias type="com.mvc.jigulyeog.model.dto.CommunityNoticeDto" alias="CommunityNoticeDto"/>		
		<typeAlias type="com.mvc.jigulyeog.model.dto.SubscribeDto" alias="SubscribeDto"/>		
	</typeAliases>


  <mappers>
  	<!-- 솔지파트 -->
     <mapper resource="/mybatis/mapper/project-mapper.xml"/>
     <mapper resource="/mybatis/mapper/cheerMessage-mapper.xml"/>
     <mapper resource="/mybatis/mapper/fundingList-mapper.xml"/>
     <mapper resource="/mybatis/mapper/community-mapper.xml"/>
     <mapper resource="/mybatis/mapper/dm-mapper.xml"/>
     <mapper resource="/mybatis/mapper/main-mapper.xml"/>
     
     <!-- 대형파트 -->
     <mapper resource="/mybatis/mapper/mypage-mapper.xml" />
     <mapper resource="/mybatis/mapper/org-mapper.xml"/>
     
     <!-- 재원파트 -->
     <mapper resource="/mybatis/mapper/member-mapper.xml"/>
     
     <!-- 원중파트 -->
     <mapper resource="/mybatis/mapper/together-mapper.xml"></mapper>
     <mapper resource="/mybatis/mapper/togetherApply-mapper.xml"></mapper>
     
     <!-- 지민파트 -->
     <mapper resource="/mybatis/mapper/chungwon-mapper.xml" />
		<mapper resource="/mybatis/mapper/signup-mapper.xml" />

  </mappers>
  
</configuration>